#
####### example-requirements.txt #######
#
###### Requirements without Version Specifiers ######
nose
nose-cov
beautifulsoup4
bokeh
openpyxl
pandas
xlrd
XlsxWriter
xlwings
xlwt
xmltodict
#
streamlit==0.72.0
