#
####### example-requirements.txt #######
#
###### Requirements without Version Specifiers ######
nose
nose-cov
beautifulsoup4
bokeh == 2.2.2
openpyxl
pandas
xlrd
XlsxWriter
xlwings
xlwt
xmltodict
#
streamlit==0.62.1
